@pc-max-width:900px;
@pc-min-width:900px;
@pc-max-height:670px;
@pc-min-height:670px;
@inner-min-height:602px;

@radius-common:6px;
@pc-bg-color:rgba(255,255,255,1);
@body-bg-color:rgba(240,242,245,1);
@common-blue-color:#5786D2;
@common-blue-hover:#34568D;
@white-hover-color:#ccc;

body{
  background-color: @body-bg-color;
  &:extend(.no-margin);
}

// 隐藏滚动条
::-webkit-scrollbar {
  display: none;
}

p,h1,h2,h3,h4,h5,h6{
  &:extend(.no-margin);
}

input{
  outline: none;
}
button{
  outline: none;
}

.border-common{
  border: none;
  background:rgba(247,249,252,1);
  border-radius:@radius-common;
}

.no-margin{
  margin: 0;
  padding: 0;
}

.flex{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.word-style{
  font-size:12px;
  font-family:MicrosoftYaHei;
  color:rgba(46,46,46,1);
}

#root{
  height: 100vh;
  &:extend(.flex);
}

#main{
  width: @pc-min-width;
  height: @pc-min-height;
  background-color: @pc-bg-color;
  box-shadow: 0 1px 6px rgba(0,0,0,.117647), 0 1px 4px rgba(0,0,0,.117647);
  margin: 0 auto;
}

.input-side{
  width: 100%;
  margin-bottom: 12px;
  .text-common{
    width:100%;
    height:44px;
    margin-top: 5px;
    text-indent: 10px;
    outline: none;
    &:extend(.word-style);
    &:extend(.border-common);
  }
  .button-common{
    height:44px;
    background:rgba(87,134,210,1);
    border-radius:@radius-common;
    width: 100%;
    border: none;
    font-size:12px;
    font-weight:bold;
    color:rgba(255,255,255,1);
  }
  .button-common:hover{
    background:@common-blue-hover;
    color:@white-hover-color;
  }
  .qrcode-area{
    height:44px;
    width: 100%;
    &:extend(.border-common);
    margin-top: 5px;
    div{
      height: 100%;
      float: left;
      input{
        height: 100%;
        border: none;
        background-color: transparent;
        text-indent: 10px;
        &:extend(.word-style);
        outline: none;
        font-size:12px;
        width: 100px;
      }
    }
    .getSms{
      background-color: transparent;
      width: 77px;
      height: 24px;
      margin-top: 10px;
      float: right;
      margin-right: 10px;
      color: @common-blue-color;
      font-size: 8px;
      text-indent: 0;
      border: none;
    }
    img{
      margin-top: 4.5px;
      margin-right: 4.5px;
      display: block;
      float: right;
    }
  }
  p{
    &:extend(.word-style);
    height:16px;
    font-weight:bold;
    line-height:16px;
  }
}

#top-banner{
  width: 100%;
  min-width: 900px;
  height: 68px;
  background-color: @common-blue-color;
  .common-oper{
    width: 100%;
    height: 20px;
  }
  .user-info{
    height: 48px;
    width: 100%;
    position: relative;
    img{
      width: 38px;
      margin-left: 16px;
      border-radius: 50%;
      position: absolute;
      top: 0;
    }

    h4{
      &:extend(.common);
      top:9px;
      text-align: center;
      width: 100%;
      height:21px;
      font-size:16px;
      line-height:21px;
      letter-spacing:1px;
      position: absolute;
      font-family:MicrosoftYaHei-Bold,MicrosoftYaHei;
      font-weight:bold;
      color:rgba(255,255,255,1);
    }
    h5{
      position: absolute;
      left: 73px;
      top: 0;
      height:19px;
      font-size:14px;
      font-family:MicrosoftYaHei-Bold,MicrosoftYaHei;
      font-weight:bold;
      color:rgba(255,255,255,1);
      line-height:19px;
    }
    h6{
      position: absolute;
      left: 73px;
      top: 23px;
      height:16px;
      font-size:12px;
      font-family:MicrosoftYaHei-Bold,MicrosoftYaHei;
      font-weight:bold;
      color:rgba(255,255,255,1);
      line-height:16px;
      a{
        color:white;
      }
    }
  }
}

.common-menu-block{
  width: 70px;
  height: 70px;
  position: relative;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 35% 35%;
  background-position: center 35%;
}

#menu-common{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#main-menu{
  position: absolute;
  z-index: 2;
  width: 70px;
  min-height: @inner-min-height;
  height: 100%;
  background:rgba(241,245,251,1);
  p{
    position: absolute;
    width: 70px;
    text-align: center;
    top: 44px;
    font-size:9px;
    font-family:MicrosoftYaHei;
    color:rgba(134,136,140,1);
    line-height:12px;
  }
  .menu-border{
    height: 100%;
    width: 4px;
  }
  .menu-index{
    margin-top: 127px;
    &:extend(.common-menu-block);
    background-image: url("../img/tab_home_pressed_grey.png");
  }
  .menu-index:hover{
    background-size: 35% 35%;
    background-color: white;
    background-image: url("../img/tab_home_pressed.png");
  }
  .menu-index:hover > div{
    //background-color: @common-blue-color;
  }
  .menu-index:hover > p{
    color: #15448C;
  }
  .menu-index-on{
    margin-top: 127px;
    &:extend(.common-menu-block);
    background-image: url("../img/tab_home_pressed.png");
    background-color: white;
    div{
      &:extend(.menu-border);
      background-color: @common-blue-color;
    }
    p{
      color: #15448C;
    }
  }

  .serve-index{
    &:extend(.common-menu-block);
    background-image: url("../img/tabbar_ico_servicedesk_nor@2x.png");
  }
  .serve-index:hover{
    background-size: 35% 35%;
    background-color: white;
    background-image: url("../img/tabbar_ico_servicedesk_selected@2x.png");
  }
  .serve-index:hover > div{
    //background-color: @common-blue-color;
  }
  .serve-index:hover > p{
    color: #15448C;
  }
  .serve-index-on{
    &:extend(.common-menu-block);
    background-image: url("../img/tabbar_ico_servicedesk_selected@2x.png");
    background-color: white;
    div{
      &:extend(.menu-border);
      background-color: @common-blue-color;
    }
    p{
      color: #15448C;
    }
  }

  .pool-index{
    &:extend(.common-menu-block);
    background-image: url("../img/tab_hashrate_nor_grey.png");
  }
  .pool-index:hover{
    background-size: 35% 35%;
    background-color: white;
    background-image: url("../img/tab_hashrate_press.png");
  }
  .pool-index:hover > div{
    //background-color: @common-blue-color;
  }
  .pool-index:hover > p{
    color: #15448C;
  }
  .pool-index-on{
    &:extend(.common-menu-block);
    background-image: url("../img/tab_hashrate_press.png");
    background-color: white;
    div{
      &:extend(.menu-border);
      background-color: @common-blue-color;
    }
    p{
      color: #15448C;
    }
  }

  .user-index{
    &:extend(.common-menu-block);
    background-image: url("../img/tab_more_nor_grey.png");
  }
  .user-index:hover{
    background-size: 35% 35%;
    background-color: white;
    background-image: url("../img/tab_more_nor.png");
  }
  .user-index:hover > div{
    //background-color: @common-blue-color;
  }
  .user-index:hover > p{
    color: #15448C;
  }
  .user-index-on{
    &:extend(.common-menu-block);
    background-image: url("../img/tab_more_nor.png");
    background-color: white;
    div{
      &:extend(.menu-border);
      background-color: @common-blue-color;
    }
    p{
      color: #15448C;
    }
  }
}

#secondary-menu{
  position: absolute;
  left: 70px;
  z-index: 2;
  float: left;
  width: 122px;
  min-height: 602px;
  height: 100%;
  background-color: white;
  border-right: 1px solid rgba(211,217,224,1);
  .menu-detail{
    width: 100%;
    height: 60px;
    &:extend(.flex);
    p{
      width: 100%;
      font-size:12px;
      font-family:MicrosoftYaHei;
      line-height:16px;
      text-align: center;
      color:rgba(46,46,46,1);
      text-align: center;
      margin: 0;
      padding-left: 5px;
      padding-right: 5px;
      word-break: break-all;
    }
  }
  .create-pool{
    background-image: url("../img/creategroup.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    p{
      font-size:12px;
      font-weight:bold;
      color:rgba(46,46,46,1);
    }
  }
  .menu-detail:hover>p{
    font-weight:bold;
    color:#2B62BB;
  }

  .menu-detail-on{
    width: 100%;
    height: 60px;
    font-size:12px;
    text-align: center;
    background-color: #C8D7F0;
    &:extend(.flex);
    p{
      word-break: break-all;
      width: 100%;
      font-weight:bold;
      font-size:12px;
      font-family:MicrosoftYaHei;
      line-height:16px;
      text-align: center;
      color:#2B62BB;
      text-align: center;
      margin: 0;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
#secondary-none{
  display: none;
}
.add-delete-background{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
}
.back{
  position: absolute;
  left: 120px;
  top:19px;
  width:34px;
  height:25px;
  background-color:rgba(243,246,248,1);
  border-radius:13px;
  transition: 0.2s;
  background-image: url("../img/ico_back_black@2x.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center center;
}
.back:hover{
  background-color:rgba(66,119,207,1);
  background-image: url("../img/ico_back@2x.png");
}